<app-toolbar></app-toolbar>
<div class="card formcard" *ngIf="game">
  <div class="card-body">
    <h5 class="card-title">
      Update game: {{gameTitle}}
    </h5>
    <form>
      <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="game.Title" name="title" class="form-control" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label>Developer</label>
        <input [(ngModel)]="game.Developer" name="developer" class="form-control" placeholder="Enter developer">
      </div>
      <div class="form-group">
        <label>Publisher</label>
        <input [(ngModel)]="game.Publisher" name="publisher" class="form-control" placeholder="Enter publisher">
      </div>
      <div class="form-group">
        <label>Release date</label>
        <input ([ngModel])="game.Release_Date" name="release_date" [disabled]="releaseDateNull" type="date" class="form-control">
      </div>
      <div class="form-check">
        <input [(ngModel)]="releaseDateNull" name="releaseDateNull" type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Release date is unknown</label>
      </div>
      <div class="form-group">
        <label>Twitter</label>
        <input [(ngModel)]="game.Twitter_Handle" name="Twitter_Handle" class="form-control" placeholder="Enter Twitter handle">
      </div>
      <div class="form-group">
        <label>Youtube video</label>
        <input [(ngModel)]="game.Youtube_Id" name="Youtube_Id" class="form-control" placeholder="Enter Youtube ID">
      </div>
      <button type="submit" class="btn btn-primary" (click)="updateGame()">Submit</button>
    </form>
  </div>
</div>
