<app-toolbar></app-toolbar>
<div class="card formcard">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label>Title</label>
        <input [(ngModel)]="title" name="title" class="form-control" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label>Developer</label>
        <input [(ngModel)]="developer" name="developer" class="form-control" placeholder="Enter developer">
      </div>
      <div class="form-group">
        <label>Publisher</label>
        <input [(ngModel)]="publisher" name="publisher" class="form-control" placeholder="Enter publisher">
      </div>
      <div class="form-group">
        <label>Release date</label>
        <input [(ngModel)]="release_date" name="release_date" type="date" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary" (click)="addGame()">Submit</button>
    </form>
  </div>
</div>
