<app-toolbar></app-toolbar>
<div class="card formcard">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input id="title" name="title" type="text" class="form-control" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="dev">Developer</label>
        <input id="dev" name="dev" type="text" class="form-control" placeholder="Enter developer">
      </div>
      <div class="form-group">
        <label for="pub">Publisher</label>
        <input id="pub" name="pub" type="text" class="form-control" placeholder="Enter publisher">
      </div>
      <div class="form-group">
        <label for="date">Release date</label>
        <input id="date" name="date" type="date" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
