<app-toolbar></app-toolbar>
<div class="container-fluid fixedwidth">
  <table class="table table-light table-hover">
    <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Developer</th>
      <th scope="col">Publisher</th>
      <th scope="col">Release date</th>
    </tr>
    </thead>
    <tbody>
    <tr class="pointer" *ngFor="let game of games | async" (click)="openGame(game)">
      <td>{{game.Title}}</td>
      <td>{{game.Developer}}</td>
      <td>{{game.Publisher}}</td>
      <td>{{game.Release_Date | date:'dd MMM yyyy'}}</td>
    </tr>
    </tbody>
  </table>
</div>

